<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ui.css">
    <title><%= title -%></title>
    <script src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
    <header class="page-header grid">
        <div class="container grid">
            <a href="/" class="branding">S-List</a>
            <% if (user) { %>
                <nav class="main-navigation grid">
                    <ul class="menu grid">
                        <li class="menu-item grid"><a href="/profile">Профиль</a></li>
                        <li class="menu-item grid"><a href="/groups">Группы</a></li>
                        <li class="menu-item grid"><a href="/lists">Списки</a></li>
                    </ul>
                </nav>
                <div class="logout grid">
                    <a href="/sign-out" class="button button-dark">Выйти</a>
                </div>
            <% } %>
        </div>
    </header>

    <div class="page-content">
        <div class="container">