* {
    border: none;
    outline: none;

    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #9a0b3a;
}

a:hover {
    text-decoration: underline;
    color: #890029;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.6);

    transition: background ease-in-out .2s;
}

.overlay.transparent {
    background: transparent;
}

.dialog {
    width: 500px;
    margin: 100px auto 0 auto;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 2px 5px -1px #333333;
    opacity: 1;

    transition: margin-top ease-in-out .2s, opacity ease-in-out .2s;
}

.dialog.hidden {
    opacity: 0;
    margin-top: 50px;
}

.dialog header.dialog-header {
    margin-bottom: 10px;
}

.dialog a.close-button {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 12px;
    margin: -10px -10px 0 0;
    background: #333333;
    color: #ffffff;

    transition: background ease-in-out .2s;
}

.dialog a.close-button:hover {
    background: #9a0b3a;
}

.dialog footer.dialog-footer {
    margin-top: 15px;
}

.dialog a.confirm-button {
    margin-right: 5px;
}

.to-right {
    float: right;
}

.grid {
    display: grid;
}

.full-width {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    min-width: 660px;
    margin: 0;
    padding: 0;
    background: #eaeaea;

    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

body.blocked {
    overflow: hidden;
}

#notify-info, #notify-error {
    position: fixed;
    top: 70px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;

    transition: right ease-in-out .2s, top ease-in-out .3s;
}

#notify-info {
    background: #5bef2a6f;
}

#notify-error {
    background: #ef5b2a6f;
}

#notify-info.new, #notify-error.new {
    top: -200px;
}

#notify-info.rm, #notify-error.rm {
    right: -500px;
}

header.page-header {
    height: 50px;
    background: #9a0b3a;

    box-shadow: 0 2px 5px -1px #333333;
}

header.page-header > .container {
    grid-template-columns: max-content 1fr max-content;
}

header.page-header .branding {
    display: block;
    padding: 0 15px;
    font: 23px 'Lobster', cursive;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    background: #890029;
}

header.page-header .logout {
    align-items: center;
}

.main-navigation > ul.menu {
    grid-template-columns: repeat(3, max-content);
    padding: 0;
    margin: 0 0 0 10px;
    list-style-type: none;
}

.main-navigation > ul.menu a {
    display: block;
    padding: 0 15px;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;

    transition: background ease-in-out .2s;
}

.main-navigation > ul.menu a:hover {
    background: #890029;
}

.page-content {
    margin-top: 20px;
}

.wrapper.content-center {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

header.box-header {
    margin: -15px -15px 15px -15px;
    background: #9a0b3a;
}

header.box-header > h1 {
    font: 23px 'Russo One', sans-serif;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
}

.login-box, .registration-box {
    background: #ffffff;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 5px -1px #333333;
    margin-top: -70px;
}

.login-box .signup-link {
    line-height: 34px;
    text-decoration: none;
    color: #9a0b3a;
    margin-left: 20px;
}

.registration-box .signin-link {
    font-size: 14px;
    margin-top: 10px;
}

.form-row:not(:last-child) {
    margin-bottom: 10px;
}

section.page-section {
    margin-top: 20px;
}

section.page-section > header.section-header {
    grid-template-columns: 1fr max-content;
    margin-bottom: 15px;
}

section.page-section > header.section-header > h1 {
    line-height: 34px;
}

section.page-section .add-form {
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px -1px #333333;
}

section.page-section .add-form > form {
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;
}

a.group-link.grid {
    grid-template-columns: 1fr max-content max-content;
}

.slist-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 15px;
    align-items: flex-start;
    padding-bottom: 15px;
}

.slist-container > .slist {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px -1px #333333;
}

.slist-container > .slist > header.slist-header {
    background: #9a0b3a;
    position: relative;
}

.slist-container > .slist > header.slist-header > h3 {
    text-align: center;
    font: 18px 'Russo One', sans-serif;
    line-height: 40px;
    color: #ffffff;
}

.slist-container > .slist > header.slist-header > a.del-button {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: -50px;
    background: #890029;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 15px;

    transition: right ease-in-out .4s .2s, background ease-in-out .2s;
}

.slist-container > .slist:hover > header.slist-header > a.del-button  {
    right: 0;
}

.slist-container > .slist > header.slist-header > a.del-button:hover {
    background: #333333;
}

.slist-container > .slist .slist-item {
    padding: 5px 10px 5px 35px;
    font-size: 15px;
    line-height: 30px;
    height: 40px;
    border-bottom: 1px solid #eaeaea;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    position: relative;

    transition: background ease-in-out .2s, color ease-in-out .2s;
}

.slist-container > .slist .slist-item.editable {
    padding-left: 10px;
    height: auto;
}

.slist-container > .slist .slist-item:hover {
    background: #e6fadf;
}

.slist-container > .slist .slist-item.done{
    background: #c1faa5;
    color: #555555;
}

.slist-container > .slist .slist-item:not(.editable)::before{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 10px;
    opacity: 0;
    
    transition: opacity ease-in-out .2s;
 }

 .slist-container > .slist .slist-item:not(.editable):hover::before {
    opacity: .3;
}

.slist-container > .slist .slist-item.done::before{
    opacity: 1;
}

.slist-container > .slist .slist-item > a.del-button {
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 10px 15px;
    opacity: 0;
    
    transition: opacity ease-in-out .2s, background ease-in-out .2s, color ease-in-out .2s;
}

.slist-container > .slist .slist-item:hover > a.del-button {
    opacity: .3;
}

.slist-container > .slist .slist-item > a.del-button:hover {
    opacity: 1;
    background: #333333;
    color: #ffffff;
}

.slist-container > .slist > footer.slist-footer > a.slist-add-items-button {
    display: block;
    text-align: center;
    font: 15px 'Russo One', sans-serif;
    line-height: 30px;
    background: #eaeaea;
    color: #333333;

    transition: background ease-in-out .2s;
}

.slist-container > .slist > footer.slist-footer > a.slist-add-items-button:hover {
    text-decoration: none;
    background: #cecece;
    color: #333333;
}

a.group-link.grid {
    grid-gap: 15px;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px -1px #333333;
    margin-bottom: 15px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;

    transition: background ease-in-out .2s, color ease-in-out .2s;
}

a.group-link.grid:hover {
    background: #333333;
    color: #ffffff;
}

.member {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 5px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px -1px #333333;
    font-weight: bold;
}

.member.me {
    background: #333333;
    color: #ffffff;
}

.member.owner {
    background: #9a0b3a;
    color: #ffffff;
}

.change-password-form {
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 5px -1px #333333;
}

.change-password-form form input:not(:first-child) {
    margin-top: 15px;
}