<%- include('parts/header') %>

<section class="page-section">
    <header class="section-header">
        <h1>Упс! Произошла ошибка. Статус: 404</h1>
    </header>
    <div class="section-content">
        <p>Запрашиваемая Вами станица не найдена. Вернуться <a href="/">на главную</a>.</p>
    </div>
</section>

<%- include('parts/footer') %>