<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Страница не найдена!</title>
</head>
<body>
    <h1>Упс! Произошла ошибка. Статус: 404</h1>
    <p>Запрашиваемая Вами станица не найдена. Вернуться <a href="/">на главную</a>.</p>
</body>
</html>