<%- include('parts/header') %>

<section class="page-section">
    <header class="section-header">
        <h1>Упс! Произошла ошибка. Статус: <%= error.status || 500 -%></h1>
    </header>
    <div class="section-content">
        <p>В процессе обработки запроса на сервере возникла ошибка.</p>
    </div>
</section>

<%- include('parts/footer') %>