<%- include('parts/header') %>

<% if (user) { %>
<h3>Привет, <%= user.username -%>!</h3>
<% } %>

<p><a href="/template.html">Страница шаблона</a></p>

<p><%= text -%></p>

<%- include('parts/footer') %>
