<%- include('parts/header') %>

<form action="" method="post">
    <input type="text" name="username" id="username" placeholder="Имя пользователя">
    <input type="password" name="password" id="password" placeholder="Пароль">
    <input type="password" name="password_confirm" id="password_confirm" placeholder="Подтверждение пароля">
    <input type="submit" value="Зарегистрироваться">
</form>

<%- include('parts/footer') %>