<%- include('parts/header') %>

<form action="" method="post">
        <input type="text" name="username" id="username" placeholder="Имя пользователя">
        <input type="password" name="password" id="password" placeholder="Пароль">
        <input type="submit" value="Войти">
    </form>

<%- include('parts/footer') %>