<%- include('parts/header') %>

<% if (typeof error !== 'undefined' && error != null) { %>
    <div id="notify-error">
        <p><%= error -%></p>
    </div>
    <script>
        var notify = document.getElementById('notify-error');
        setTimeout(() => {
            notify.className += ' rm';
            setTimeout(() => notify.remove(), 200);
        }, 4000);
    </script>
<% } %>
<div class="wrapper content-center grid">
    <div class="registration-box">
        <header class="box-header"><h1>Регистрация</h1></header>
        <form action="/sign-up" method="post">
            <div class="form-row"><input type="text" name="username" id="username" placeholder="Имя пользователя"></div>
            <div class="form-row"><input type="password" name="password" id="password" placeholder="Пароль"></div>
            <div class="form-row"><input type="password" name="password_confirm" id="password_confirm" placeholder="Подтверждение пароля"></div>
            <div class="form-row"><input type="submit" value="Зарегистрироваться" class="full-width"></div>
        </form>
        <p class="signin-link">Уже зарегистрированы? Войти можно <a href="/sign-in">тут</a>!</p>
    </div>
</div>
<script src="/js/auth-forms.js"></script>

<%- include('parts/footer') %>